<html>

<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
  <!-- Start of Search Vue Instance -->
  <div id="search">
    <div class="container" style="margin-top: 8%;">
      <div class="col-md-12">
        <div class="row">
          <div id="logo" class="text-center">
            <a href="#" class="logo"><img src="images/nodezoo.png"></a>
            <p>Search for <a href="http://nodejs.org">Node.js</a> modules.</p>
          </div>
          <div id="form-buscar">
            <div class="form-group">
              <div class="input-group">
                <input id="1" class="form-control" type="text" name="search" list="suggestlist" v-on:keyup.13="search" v-model="query" v-on:click="clear" placeholder="Search..." autocomplete="off" required/>
                <datalist id="suggestlist"></datalist>
                <span class="input-group-btn">
    <button type="submit" class="btn btn-success" v-on:click="search">
    <i class="glyphicon glyphicon-search" aria-hidden="true"></i> Search
    </button>
    </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Search Vue Instance -->

  <!-- Start of Results Vue Instance -->
  <div id="results" v-cloak>
    <div class="container" style="margin-top: 8%;">
      <div v-for="item in results">
        <div class="panel panel-info">
          <div class="panel-heading"><a :href="item.giturl">{{ item.name }}</a></div>
          <div class="panel-body">
            {{ item.version }}
            <br> {{ item.desc }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Results Vue Instance -->


  <div id="suggest">
  </div>


  <script src="js/seneca/seneca.js"></script>
  <script src="js/vue/vue.js"></script>
  <script src="js/vue/vue-app.js"></script>
</body>

</html>
